@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
.testimonial {
  text-align: center;
}
.testimonial .person .thumb {
  width: 42px;
  height: 42px;
  border-radius: 42px;
}
.panel-with-header {
  position: relative;
  background-color: white;
}
.panel-with-header .title {
  text-align: left;
}
.relative {
  position: relative;
}
@media (min-width: 768px) {
  section.stack.sticky {
    position: fixed;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 78px;
  }
}
@media (min-width: 992px) {
  section.stack.sticky {
    top: 113px;
  }
}
section {
  position: relative;
  z-index: 100;
}
section.stack.sticky + section {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .sliding-wizard .container {
    width: auto;
  }
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
img.full-width {
  width: 100%;
  height: auto;
}
html {
  margin: 0;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}
body.checkout {
  margin-top: 78px;
}
@media (min-width: 992px) {
  body {
    padding-bottom: 0;
  }
  body.checkout {
    margin-top: 113px;
  }
}
.navbar-brand {
  padding: 0px;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: rgba(248, 248, 248, 0.9);
  }
}
nav {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.navbar-header .navbar-brand {
  width: 140px;
  height: 78px;
  padding-top: 4px;
  margin: auto;
  float: none;
  text-align: center;
}
.navbar-header .navbar-brand img {
  max-width: 100%;
}
.navbar-header .navbar-toggle {
  float: none;
  position: absolute;
  height: 37px;
  top: 13px;
  right: 6px;
  border: 2px solid black;
  border-radius: 0px;
  color: black;
}
.navbar-header .navbar-toggle:hover {
  background: white;
  box-shadow: 0px 0px 4px 1px black;
}
.navbar-header .navbar-toggle .icon-bar {
  background-color: black;
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: absolute;
  }
}
.navbar-collapse {
  text-align: center;
}
.navbar-collapse .container {
  position: relative;
}
@media (min-width: 320px) and (max-width: 991px) {
  .navbar-collapse .container {
    width: auto;
  }
}
.navbar-collapse ul,
.navbar-collapse a {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.navbar-collapse a.navbar-brand {
  padding: 0px;
  display: none;
  float: none;
}
@media (min-width: 768px) {
  .navbar-collapse a.navbar-brand {
    display: block;
    width: 160px;
  }
  .navbar-collapse a.navbar-brand img {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .navbar-collapse a.navbar-brand {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .navbar-collapse a.navbar-brand {
    max-width: 100%;
    display: inline;
  }
}
@media (max-width: 1199px) {
  .navbar-collapse .main-logo {
    position: absolute;
    left: 15px;
    float: none;
    width: auto;
  }
  .navbar-collapse .menu-wrap {
    float: right;
    padding: 0px 15px;
  }
  .navbar-collapse .first-wrap {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .navbar-collapse .last-wrap {
    width: auto;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .navbar-collapse .first-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navbar-collapse .first-wrap .navbar-nav.first {
    float: none;
  }
  .navbar-collapse .first-wrap .navbar-nav.first > li {
    text-align: right;
  }
  .navbar-collapse .last-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navbar-collapse .last-wrap .navbar-nav.last {
    float: none;
  }
  .navbar-collapse .last-wrap .navbar-nav.last > li {
    text-align: right;
  }
}
.navbar-collapse .navbar-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13px;
}
.navbar-collapse .navbar-nav.first {
  float: left;
  display: block;
}
.navbar-collapse .navbar-nav.last {
  float: right;
  display: block;
}
.navbar-collapse .navbar-nav > li {
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
  padding-top: 10px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
.navbar-collapse .navbar-nav > li > a {
  color: black;
  letter-spacing: 4px;
  display: block;
  padding-bottom: 5px;
}
.navbar-collapse .navbar-nav > li > a .paw {
  background-image: url(../imgs/paw.gif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-top: -100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.1s ease-in-out;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav > li > a .paw {
    left: 50%;
    margin-left: -16px;
    top: auto;
    bottom: -30px;
  }
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav > li > a .paw {
    bottom: -100px;
  }
}
.navbar-collapse .navbar-nav > li > a:hover {
  /*.paw {
						margin-top: 0px;
						opacity: 1;
						@media (min-width: 992px) {
							bottom: -36px;
						}
					}*/
  border-bottom: 2px dashed black;
}
.navbar-collapse .navbar-nav > li.emphasized a {
  border: 2px black solid;
  padding: 10px 19px;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav > li {
    height: 78px;
    line-height: 78px;
    vertical-align: middle;
    padding-top: 28px;
    width: auto;
    display: block;
  }
  .navbar-collapse .navbar-nav > li > a {
    padding: 0px 10px 5px;
  }
  .navbar-collapse .navbar-nav > li.emphasized {
    padding-top: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .navbar-collapse .navbar-nav > li {
    height: 113px;
    line-height: 113px;
    vertical-align: middle;
    padding-top: 46px;
    width: auto;
    display: block;
  }
  .navbar-collapse .navbar-nav > li > a {
    padding: 0px 19px 5px;
  }
  .navbar-collapse .navbar-nav > li.emphasized {
    padding-top: 34px;
    padding-left: 26px;
  }
}
@media (min-width: 1200px) {
  .navbar-collapse .navbar-nav.first,
  .navbar-collapse .navbar-nav.last {
    float: right;
    display: block;
  }
  .navbar-collapse .navbar-nav > li {
    padding-top: 46px;
  }
}
.hero {
  height: 350px;
  margin-top: 74px;
  background-image: url(../imgs/bg-homepage.jpg);
  background-position: 35% center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  position: relative;
}
@media (min-width: 1200px) {
  .hero {
    background-position: center center;
  }
}
.hero .value-proposition {
  display: block;
  float: left;
  width: 100%;
  max-width: 200px;
  padding-top: 42px;
}
.hero .value-proposition img {
  max-width: 100%;
  display: block;
}
.hero .value-proposition .img-wrap {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.hero .value-proposition .img-wrap .not-mobile {
  display: none;
}
.hero .value-proposition .img-wrap .mobile {
  display: block;
}
.hero .cta-button {
  font-family: "Open Sans", Arial, sans-serif;
  color: white;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  padding: 15px 20px;
  font-weight: 600;
  letter-spacing: 4px;
  border: 3px #fff solid;
  background-color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 480px) {
  .hero {
    height: 450px;
  }
  .hero .value-proposition {
    text-align: center;
    max-width: 400px;
    padding-top: 89px;
  }
  .hero .value-proposition .img-wrap .not-mobile {
    display: block;
  }
  .hero .value-proposition .img-wrap .mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero {
    margin-top: 0px;
    text-align: center;
    height: 668px;
    background-size: cover;
  }
  .hero .value-proposition {
    float: left;
    width: auto;
    max-width: 100%;
    padding-top: 192px;
    padding-left: 0px;
  }
  .hero .cta-button {
    font-size: 18px;
    margin-top: 36px;
    padding: 20px 25px;
    font-weight: 600;
    letter-spacing: 4px;
    border: 3px #fff solid;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 768px) {
  .testimonials .testimonials-carousel .testimonial {
    padding: 30px 0 35px;
  }
}
.main {
  position: relative;
}
.main > .background {
  background-image: url('../imgs/header-background.jpg');
  width: 100%;
  height: 100px;
  zoom: 1;
  overflow: hidden;
  transition: all 0.3s;
  background-position: 70% center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  box-shadow: 0px 0px 30px #d0d0d0 inset;
}
.main > .background .overlay {
  background-color: black;
  position: absolute;
  zoom: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4;
}
@media (min-width: 480px) {
  .main > .background {
    height: 150px;
  }
}
@media (min-width: 768px) {
  .main > .background {
    height: 292px;
  }
}
.main .wrap {
  position: relative;
  z-index: 1;
}
.main .checkout-progress {
  position: relative;
  display: block;
}
.main .checkout-progress > .container {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}
.main .checkout-progress ul.progress-indicator {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  list-style-type: none;
  text-align: center;
  padding: 0;
  max-width: 768px;
  margin: 0;
}
@media (min-width: 480px) {
  .main .checkout-progress ul.progress-indicator {
    height: 150px;
  }
}
@media (min-width: 768px) {
  .main .checkout-progress ul.progress-indicator {
    height: 292px;
  }
}
.main .checkout-progress ul.progress-indicator li {
  transition: all 0.2s;
  line-height: normal;
  font-weight: 500;
  text-align: center;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.main .checkout-progress ul.progress-indicator li > a > span.icon {
  padding: 2px 3px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-top: 30px;
}
@media (min-width: 480px) {
  .main .checkout-progress ul.progress-indicator li > a > span.icon {
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .main .checkout-progress ul.progress-indicator li > a > span.icon {
    margin-top: 98px;
    margin-bottom: 20px;
  }
}
.main .checkout-progress ul.progress-indicator li a > span.icon > i {
  font-size: 14px;
  color: white;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.main .checkout-progress ul.progress-indicator li a > span.caption {
  display: none;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .main .checkout-progress ul.progress-indicator li a > span.caption {
    display: block;
  }
}
.main .checkout-progress ul.progress-indicator li.active {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}
@media (min-width: 480px) {
  .main .checkout-progress ul.progress-indicator li {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .main .checkout-progress ul.progress-indicator li {
    float: left;
    display: inline-block;
    zoom: 1;
    *display: inline;
    max-width: 112px;
  }
}
.main .checkout-progress ul.progress-indicator li.checkpoint > a > span.icon {
  border-radius: 100px;
  border: 1px solid white;
}
.main .checkout-progress ul.progress-indicator li.checkpoint,
.main .checkout-progress ul.progress-indicator li.final {
  margin: 0px 20px;
}
@media (min-width: 768px) {
  .main .checkout-progress ul.progress-indicator li.final > a > span.icon {
    margin-top: 94px;
  }
}
.main .checkout-progress ul.progress-indicator li.final > a > span.icon > i {
  font-size: 19px;
}
.main .checkout-progress ul.progress-indicator li.delimitor:before {
  display: none;
  content: "- - - - -";
  letter-spacing: 2px;
  font-weight: 200;
  color: white;
}
@media (min-width: 488px) {
  .main .checkout-progress ul.progress-indicator li.delimitor:before {
    letter-spacing: 0px;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}
@media (min-width: 768px) {
  .main .checkout-progress ul.progress-indicator li.delimitor:before {
    margin-top: 138px;
  }
}
.checkout-wizard {
  padding-top: 34px;
}
.checkout-wizard .placeholder {
  height: 200px;
}
.checkout-wizard .item .container {
  max-width: 768px;
}
.checkout-wizard .controls {
  margin-top: 19px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0px 0px 4px rgba(138, 138, 138, 0.7);
  padding: 4px;
}
.checkout-wizard .controls .gradient-border {
  display: none;
}
.checkout-wizard .controls.sticky-disabled {
  width: auto;
  position: relative;
  background: none;
  box-shadow: none;
  padding: 0;
}
.checkout-wizard .controls.sticky-disabled .gradient-border {
  display: block;
}
@media (min-width: 768px) {
  .checkout-wizard .controls {
    width: auto;
    position: relative;
    background: none;
    box-shadow: none;
    padding: 0;
  }
  .checkout-wizard .controls .gradient-border {
    display: block;
  }
}
.checkout-wizard .controls .btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  vertical-align: middle;
  padding: 0px 14px;
  height: 36px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34);
}
.checkout-wizard .controls .btn.pull-left i {
  margin-right: 11px;
}
.checkout-wizard .controls .btn.pull-right i {
  margin-left: 11px;
}
.checkout-wizard .controls .btn.btn-default {
  background-color: #dadada;
  border: 1px solid #999999;
}
.checkout-wizard .controls .btn.btn-primary {
  background-color: #58b1dd;
  border: 1px solid #4196c0;
}
@media (min-width: 480px) {
  .checkout-wizard .controls .btn {
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    padding: 0px 18px;
  }
  .checkout-wizard .controls .btn.pull-left i {
    margin-right: 14px;
  }
  .checkout-wizard .controls .btn.pull-right i {
    margin-left: 14px;
  }
}
@media (min-width: 992px) {
  .checkout-wizard .controls .btn {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.34);
  }
}
.checkout-wizard .panel-with-header {
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 0px 22px 22px 22px;
  max-width: 100%;
}
.checkout-wizard h1.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 22px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .checkout-wizard h1.title {
    font-size: 26px;
  }
}
.checkout-wizard h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 14px;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .checkout-wizard h2 {
    margin-bottom: -10px;
  }
}
.checkout-wizard input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(138, 138, 138, 0.3);
  font-size: 16px;
  line-height: 24px;
  height: 54px;
  margin-bottom: 14px;
  padding: 7px 19px;
  font-weight: 200;
}
@media (min-width: 480px) {
  .checkout-wizard input {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .checkout-wizard input {
    margin-bottom: 0px;
    font-size: 18px;
    padding: 11px 19px;
    margin-top: 22px;
  }
}
.checkout-wizard input.error {
  background-color: #ffd1d1;
}
.checkout-wizard a.btn {
  font-size: 16px;
}
.checkout-wizard a.btn i {
  margin-right: 2px;
}
@media (min-width: 768px) {
  .checkout-wizard a.btn {
    font-size: 18px;
    padding: 11px 19px;
    margin-top: 22px;
  }
  .checkout-wizard a.btn i {
    margin-right: 5px;
  }
}
.checkout-wizard .btn-group {
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .checkout-wizard .btn-group {
    padding-top: 22px;
  }
}
.checkout-wizard .btn-group a.btn {
  display: block;
  width: 100%;
  padding: 18px 0px;
  margin: 0;
}
.checkout-wizard .btn-group a.btn + a.btn {
  margin-top: -1px;
}
.checkout-wizard .btn-group a.btn:first-child {
  border-radius: 4px 4px 0px 0px!important;
}
.checkout-wizard .btn-group a.btn:last-child {
  border-radius: 0px 0px 4px 4px!important;
}
.checkout-wizard .btn-group a.btn:hover {
  opacity: 1;
  background-color: #f5f5f5;
}
.checkout-wizard .btn-group a.btn.checked {
  opacity: 1;
  background-color: #f5f5f5;
}
.checkout-wizard .btn-group a.btn .wrap {
  line-height: 20px;
}
.checkout-wizard .btn-group a.btn .wrap .title {
  font-size: 16px;
  display: inline;
}
.checkout-wizard .btn-group a.btn .wrap .description {
  display: inline;
  font-size: 12px;
}
@media (min-width: 480px) {
  .checkout-wizard .btn-group a.btn {
    opacity: 0.7;
    margin: 0;
    padding: 19px 0px 5px 0px;
    width: 33.3%;
  }
  .checkout-wizard .btn-group a.btn:first-child {
    border-radius: 4px 0px 0px 4px!important;
  }
  .checkout-wizard .btn-group a.btn:last-child {
    border-radius: 0px 4px 4px 0px!important;
  }
  .checkout-wizard .btn-group a.btn + a.btn {
    margin: 0;
    margin-left: -1px;
  }
  .checkout-wizard .btn-group a.btn:last-child {
    width: 33.4%;
  }
  .checkout-wizard .btn-group a.btn .wrap {
    line-height: 28px;
  }
  .checkout-wizard .btn-group a.btn .wrap .title {
    font-size: 18px;
    display: block;
    text-align: center;
  }
  .checkout-wizard .btn-group a.btn .wrap .description {
    font-size: 14px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .checkout-wizard .btn-group a.btn {
    width: 33.33333333%;
  }
}
.testimonials-carousel {
  background: white;
}
.testimonials-carousel .testimonial {
  padding: 32px 0px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}
.testimonials-carousel .testimonial .quote {
  font-family: "chaparral_proitalic", serif;
  font-size: 20px;
  line-height: 28px;
  opacity: 0.9;
}
.testimonials-carousel .testimonial .name {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.9;
  font-family: "chaparral_proitalic", serif;
}
.testimonials-carousel .testimonial .thumb {
  margin-right: 8px;
}
@media (min-width: 768px) {
  .testimonials-carousel .testimonial {
    padding: 73px 0px 67px 0px;
  }
  .testimonials-carousel .testimonial .quote {
    font-family: "chaparral_proitalic", serif;
    font-size: 30px;
    line-height: 41px;
  }
  .testimonials-carousel .testimonial .name {
    font-size: 20px;
    line-height: 27px;
    font-family: "chaparral_proitalic", serif;
  }
}
.cta {
  padding-bottom: 65px;
}
.cta.homepage {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 0px;
}
.cta.homepage .first {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .cta.homepage .first {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .cta.homepage {
    padding-top: 65px;
  }
}
.cta img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cta a > img {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.cta h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
  padding-bottom: 0px;
}
.cta h5 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 200;
}
.cta a.action span {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 600;
  color: black;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 18px;
  padding: 14px 30px;
  border: 2px black solid;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #f5f5f5;
}
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}
.video-player a.control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.video-player a.control i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  z-index: 10;
  width: 120px;
  font-size: 46px;
  padding-top: 36px;
  padding-left: 5px;
  text-align: center;
  height: 120px;
  border-radius: 100px;
  border: 2px solid white;
  display: inline;
  color: white;
}
.video-player .overlay {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #303030;
  opacity: 0.7;
}
.video-player-wrap {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  z-index: 100;
  /*margin-bottom: 40px;
	@media (min-width: 768px ){
		margin: 0;
	}*/
}
.satisfactory-badge {
  padding-top: 28px;
}
.satisfactory-badge h4 {
  border-bottom: 1px solid #d7d7d7;
}
.gradient-border {
  background: #e4e4e4;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzgzODk3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #e4e4e4 0%, #83897e 50%, #e4e4e4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e4e4e4), color-stop(50%, #83897e), color-stop(100%, #e4e4e4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #e4e4e4 0%, #83897e 50%, #e4e4e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #e4e4e4 0%, #83897e 50%, #e4e4e4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #e4e4e4 0%, #83897e 50%, #e4e4e4 100%);
  /* IE10+ */
  background: linear-gradient(to right, #e4e4e4 0%, #83897e 50%, #e4e4e4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#e4e4e4', GradientType=1);
  /* IE6-8 */
  width: 100%;
  height: 1px;
  margin: 50px 0px;
  opacity: 0.7;
  display: block;
}
.how-it-works {
  background-color: #f5f5f5;
  padding-bottom: 90px;
  padding-top: 45px;
}
@media (max-width: 767px) {
  .how-it-works .col-sm-4 {
    margin-top: 48px;
  }
  .how-it-works .col-sm-4:first-child {
    margin-top: 0px;
  }
}
.how-it-works h4 {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 15px;
}
.how-it-works .print {
  position: absolute;
  left: -100px;
  top: 20px;
  display: none;
}
.how-it-works .action {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  color: white;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
  margin-top: 40px;
  font-size: 18px;
  padding: 20px 20px 20px 35px;
  font-weight: 600;
  letter-spacing: 6px;
  background-color: black;
}
.how-it-works .action i {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .how-it-works .print {
    display: block;
    overflow: hidden;
    padding: 0 25%;
  }
  .how-it-works .print .img-wrap {
    width: 50%;
    overflow: hidden;
  }
  .how-it-works .print img {
    margin-left: -50%;
  }
}
@media (min-width: 992px) {
  .how-it-works .print {
    top: 30px;
    padding: 0;
  }
  .how-it-works .print .img-wrap {
    width: 100%;
    overflow: visible;
  }
  .how-it-works .print img {
    width: 80%;
    left: 0;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .how-it-works .print img {
    width: 100%;
  }
}
.recap {
  background-color: #e9e9e9;
}
@media (max-width: 991px) {
  .recap .container {
    width: auto;
    padding: 0;
  }
}
.recap .collage {
  text-align: center;
  height: 474px;
  padding-top: 160px;
  background-image: url(../imgs/collage.jpg);
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: white;
}
.recap .collage p {
  max-width: 500px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}
.recap .collage .action {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: white;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 36px;
  padding: 20px 25px;
  font-weight: 600;
  letter-spacing: 7px;
  border: 3px #fff solid;
  background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 767px) {
  .recap .collage {
    height: 350px;
    padding-top: 100px;
  }
  .recap .collage p {
    font-size: 20px;
    max-width: 260px;
  }
  .recap .collage .action {
    font-size: 14px;
    margin-top: 15px;
    padding: 14px 20px;
  }
}
footer {
  position: relative;
  z-index: 1000;
  background-color: #171718;
  color: #e9e9e9;
}
footer .nav {
  background-color: #222223;
  padding-top: 52px;
  padding-bottom: 32px;
}
footer .nav h4 {
  font-family: 'chaparral_proitalic', serif;
  color: #e9e9e9;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
}
footer .nav ul {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}
footer .nav ul li a {
  font-size: 14px;
  line-height: 27px;
}
footer .nav a {
  color: #e9e9e9;
}
footer .nav .fa-inverse {
  color: #222223;
}
footer .copyright {
  background-color: #171718;
  padding-top: 23px;
  padding-bottom: 30px;
  font-size: 13px;
}
footer #subservice-link,
footer #capsule-link {
  margin-top: 32px;
  float: none;
  text-align: center;
  display: block;
}
@media (min-width: 768px) {
  footer #subservice-link,
  footer #capsule-link {
    margin-top: 0;
    display: block;
    float: right;
  }
}
.perspective {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* checkout styles */
.modal-dialog {
  text-align: center!important;
  margin-top: 10%;
}
@media (min-width: 480px) {
  .modal-dialog {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.modal-dialog .modal-content {
  padding: 0px 22px;
}
.modal-dialog .ornament {
  width: 50px;
  margin-top: 5px;
}
.modal-dialog .ornament:first-child {
  margin-right: 15px;
}
.modal-dialog .ornament:last-child {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .modal-dialog .ornament {
    width: 60px;
  }
}
@media (min-width: 992px) {
  .modal-dialog .ornament {
    width: 80px;
  }
}
.modal-dialog .modal-footer {
  text-align: center;
}
.modal-dialog .modal-footer a {
  color: black;
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 23px;
}
.modal-dialog .modal-footer a:hover {
  text-decoration: none;
}
.pup-list {
  margin-bottom: 39px;
  max-width: 350px!important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (min-width: 768px) {
  .pup-list {
    display: block;
  }
}
.pup-list .ornament {
  width: 50px;
}
.pup-list .ornament:first-child {
  margin-right: 15px;
}
.pup-list .ornament:last-child {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .pup-list .ornament {
    width: 60px;
  }
}
.pup-list h1.title {
  text-align: center;
  border-bottom: 1px solid black;
  max-width: 300px;
  padding-bottom: 12px;
}
.pup-list .dogs {
  max-width: 300px;
  padding: 0px 35px 20px;
  border-bottom: 1px solid black;
}
.pup-list .dogs ul {
  margin: 0;
  padding: 0;
}
.pup-list .dogs ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pup-list .dogs ul li .dog label {
  display: block;
  font-weight: 500;
  font-size: 30px;
}
.pup-list .dogs ul li .dog p {
  font-weight: 300;
}
.pup-list .dogs ul li .dog a {
  float: right;
  color: black;
  cursor: pointer;
  font-size: 30px;
}
.pup-list .dogs ul li .dog a:hover {
  text-decoration: none;
}
.pup-list .summary {
  padding: 20px;
  margin-left: auto;
  font-size: 20px;
  font-weight: 300;
  margin-right: auto;
  text-align: right;
}
.pup-list .summary label {
  font-weight: 400;
}
